<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
    </assemblyBinding>
  </runtime>
  <system.webServer>
  <rewrite>
    <rules>
      <!--<rule name="Always redirect country root extensionless path to index.aspx" stopProcessing="true">
        <match url=".*" />
        <conditions trackAllCaptures="true">
          <add input="{REQUEST_URI}" pattern="^[a-z]{2}" />
          <add input="{URL}" pattern="^[a-z]{2}" />
        </conditions>
        <action type="Rewrite" url="/{R:0}/Default.aspx" appendQueryString="true" logRewrittenUrl="true" />
      </rule>-->

        <!--<rule name="Always redirect root extensionless path to index.aspx" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="/Default.aspx" appendQueryString="true" logRewrittenUrl="true" />
        </rule>-->

      <rule name="redirect two character to default" stopProcessing="true">
        <!-- 
        this rule will work when the url is http://localhost:53741/gb/ and redirect me to http://localhost:53741/gb/default.aspx
        -->
            <match url="(.*)" />
            <conditions>
                <add input="{URL}" pattern="^/[a-z]{2}(/)?$" />
            </conditions>
            <action type="Redirect" url="default.aspx" appendQueryString="false" />
      </rule>
      
      <rule name="Rewrite rule for Redirecting countries" stopProcessing="true">
        <!--
        this rule will redirect this url http://www.domain.com/gb/default.aspx to http://www.domain.com/default.aspx
        so this rule hide the country code
        -->
        <match url=".*.aspx" />
        <conditions trackAllCaptures="true">
          <add input="{REQUEST_URI}" pattern="[a-z]{2}/(.*)" />
        </conditions>
        <action type="Rewrite" url="/{tolower:{C:1}}" appendQueryString="false" logRewrittenUrl="true" />
      </rule>


      
      <!--<rule name="Country redirect" stopProcessing="true">
        <match url="^[a-zA-Z]{2}/$" ignoreCase="true" />
        <action type="Redirect" url="/" />
      </rule>-->
      
      <!--<rule name="Some rule">
        <conditions logicalGrouping="MatchAny">
            <add input="{URL}" pattern="^.*\.(ashx|axd|css|gif|png|jpg|jpeg|js|flv|f4v)$" negate="true" /> 
        </conditions>
      </rule>
    
      <rule name="Rewrite language code">
        <match url="^([a-z]+)/([0-9a-z]+)" />
        <action type="Rewrite" url="/{R:2}.aspx?lang={R:1}" />
      </rule>-->   
    </rules>
    
      <!--<outboundRules>
        <rule name="outbound rule" preCondition="Ishtml" stopProcessing="true">
            <match filterByTags="A" pattern="([a-z]{2}/)?(.*)" negate="false" />
            <action type="Rewrite" value="/gb{R:2}" />
            <conditions>
            </conditions>
        </rule>
        <preConditions>
            <preCondition name="Ishtml">
                <add input="{RESPONSE_CONTENT_TYPE}" pattern="text/html" />
            </preCondition>
        </preConditions>      
     </outboundRules>-->

    
    <!--<outboundRules>
    <rule name="outbound rule" preCondition="Ishtml" enabled="true" stopProcessing="true">
      <match filterByTags="A" pattern="^/(.*)" negate="false" />
      <action type="Rewrite" value="http://{HTTP_HOST}:8080/{C:1}/Default.aspx" />
      <conditions>
        <add input="{URL}" pattern="^/([a-z]{2})/(.*)" />
      </conditions>
    </rule>
    <preConditions>
      <preCondition name="Ishtml">
        <add input="{RESPONSE_CONTENT_TYPE}" pattern="text/html" />
      </preCondition>
    </preConditions>
    </outboundRules>-->

    <!--<outboundRules>
    <rule name="outbound rule1" preCondition="Ishtml">
      <match filterByTags="A" pattern="^/(.*)" />
      <conditions>
        <add input="{REQUEST_URI}" pattern="^/([a-z]{2})/(.*)" />
      </conditions>
      <action type="Rewrite" value="http://{HTTP_HOST}:8800/{C:1}/{R:1}" />
    </rule>
    <preConditions>
      <preCondition name="Ishtml">
        <add input="{RESPONSE_CONTENT_TYPE}" pattern="text/html" />
      </preCondition>
    </preConditions>
    </outboundRules>-->

    <!--<outboundRules>
      <rule name="outbound rule" preCondition="Ishtml" stopProcessing="true">
        <match filterByTags="A" pattern="^/(.*)" negate="true" />
        <action type="Rewrite" value="/gb{R:2}" />
        <conditions>
        </conditions>
      </rule>
      <preConditions>
      <preCondition name="Ishtml">
        <add input="{RESPONSE_CONTENT_TYPE}" pattern="text/html" />
      </preCondition>
    </preConditions>
    </outboundRules>-->

    <!--<outboundRules>
    <rule name="outbound rule" preCondition="Ishtml" enabled="true" stopProcessing="true">
      <match filterByTags="A" pattern="(\/[a-z]{2}\/)(.*)" negate="false" />
      <action type="Rewrite" value="http://{HTTP_HOST}:8800/{C:1}/Default.aspx" />
      <conditions>
        <add input="{URL}" pattern="^(\/[a-z]{2})\/(.*)" />
      </conditions>
    </rule>
    <preConditions>
      <preCondition name="Ishtml">
        <add input="{RESPONSE_CONTENT_TYPE}" pattern="text/html" />
      </preCondition>
    </preConditions>
    </outboundRules>-->
    
    
  </rewrite>
  </system.webServer>
</configuration>